/* || FOOTER */

footer {
    color: var(--primaryColor);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.partingLine {
  height: 5px;
  width: 100%;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  margin-top: -15px;
}

/* || FOOTER - Newsletter */

.newsletterSection {
  padding: 30px 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 14vw);
  background-color: var(--secondaryColor);
  position: relative;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.6);
}

.newsletterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-flow: column;
}

.newsletterHeadline {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.7px;
}

.newsletterForm {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.newsletterLabel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  text-align: center;
}

.newsletterInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  border: 2px solid var(--accentColor);
  min-height: 50px;
  max-width: fit-content;
  min-width: 350px;
  border-radius: 50px;
  background-color: var(--accentColor);
  overflow: hidden;
}

.newsletterInput {
  flex: 1;
  min-width: 200px;
  max-width: 350px;
  font-size: 1.2rem;
  min-height: 50px;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  border: none;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.newsletterInput:focus {
  background-color: var(--secondaryColor2);
}

.newsletterInput::placeholder {
  color: var(--primaryColor);
}

.newsletterSubmitBtn {
  min-height: 50px;
  font-size: 1.2rem;
  padding: 0 20px;
  min-width: 140px;
  border: none;
  color: var(--secondaryColor);
  background-color: var(--accentColor);
  font-weight: bold;
}

.newsletterSubmitBtn::before {
  background-color: var(--primaryColor);
}

.welcome {
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .newsletterSubmitBtn {
    flex: 1;
  }
  .newsletterInputContainer {
    min-width: 250px;
  }
  .newsletterLabel {
    min-width: 200px;
  }
  .newsletterInput {
    padding: 0;
    text-align: center;
  }
}

/* || FOOTER - Newsletter - Success Message */

.newsletterSuccessContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: column;
  position: absolute;
  padding: 0 7vw;
}

.successMsg {
  font-size: 1.2rem;
  max-width: 900px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.checkSuccess {
  width: 40px;
}

/* || FOOTER - Main Part */

.footerMain {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc(100% - 14vw);
  padding: 30px 7vw;
  background-color: var(--accentColor);
  position: relative;
}

.footerMainBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  left: 0;
  top: -10px;
  z-index: -1;
}

.footerMainWrapper {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.partingLineFooter {
  height: 3px;
  background-color: var(--accentColor);
  width: 100%;
}

/* || FOOTER - Services */

.serviceListArticle {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  gap: 20px 0;
}

.serviceContainer {
  display: flex;
  flex: 1;
}

.service {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: top;
  gap: 10px;
  flex: 1;
  min-width: 120px;
}

.serviceCaption {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0 5px;
  line-height: 1.2;
  color: var(--secondaryColor);
}

/* || FOOTER - Information */

.infoArticle {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-around;
  gap: 20px;
}

.infoSection {
  min-width: 200px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.infoHeadline {
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  padding: 10px 0;
  width: 240px;
  border-radius: 40px;
  position: relative;
  border: 2px solid var(--secondaryColor);
}

.infoHeadline::before {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'Service Hotline';
  z-index: 1;
}

.infoHeadline02::before {
  content: 'Bestellung & Versand';
}

.infoHeadline03::before {
  content: 'Informationen';
}

.infoList {
  line-height: 1.3;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  text-align: center;
  background-color: var(--secondaryColor);
  height: 160px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
}

.infoList > * > *, .infoList > * {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 0.9rem;
}

.infoList > :nth-child(1) {
  padding-top: 20px;
}

.infoList > :nth-last-child(1) {
  padding-bottom: 20px;
}

.phoneNumber > * {
  font-weight: 500;
}

/* || FOOTER - Navbar */

.footerNav {
  width: 100%;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  gap: 15px 20px;
}

.footerLink {
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.footerLink > * , .footerLink {
  text-decoration: none;
  color: var(--secondaryColor);
  font-size: 0.9rem;
}

@media (hover: hover) {
  .infoList > * > *:hover, .infoList > * > *:focus {
    color: var(--accentColor);
  }
  
  .footerLinks > * > *:hover, .footerLinks > * > *:focus {
    color: var(--primaryColor);
  }
  
  .phoneNumber > *:hover, .phoneNumber > *:focus {
    color: var(--accentColor);
  }
}

@media (pointer: coarse)  {
  .infoList > * > *:active, .infoList > * > *:focus {
    color: var(--accentColor);
  }
  
  .footerLinks > * > *:active, .footerLinks > * > *:focus {
    color: var(--primaryColor);
  }
  
  .phoneNumber > *:active .phoneNumber > *:focus {
    color: var(--accentColor);
  }
}

/* || FOOTER - Developer Credit */

.devCredit {
  padding: 15px 7vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: calc(100% - 14vw);
  background-color: var(--secondaryColor);
  font-family: 'RedRose', 'Roboto', sans-serif;
}

.devHeadline {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem
}

.devLink {
  height: 22px;
}

.gitHubIcon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(90%) saturate(3%) hue-rotate(275deg) brightness(109%) contrast(100%);
}

.copyright {
  width: fit-content;
  text-align: center;
  font-size: 0.8rem;
}