/* || SECTION - HIGHLIGHTS */

.highlightsSection {
    background-color: var(--accentColor);
}

.highlightsSectionContainer {
    display: flex;
    flex-flow: column;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: var(--contentSpace) 0;
}

.highlightsHeaderContainer {
    width: calc(100% - 14vw);
    padding: 0 7vw;
}

.highlightsH2 {
    margin-bottom: 15px;
    font-size: 3.5rem;
    font-family: 'RobotoSlab', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.highlightsH3 {
    font-size: 2rem;
    font-family: 'RobotoSlab', sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
}

@media screen and (max-width: 630px) {
    .highlightsH2 {
        font-size: 2.8rem;
    }

    .highlightsH3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 460px) {
    .highlightsH2 {
        font-size: 2.2rem;
    }
    .highlightsH3 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 380px) {
    .highlightsH2 {
        font-size: 1.9rem;
        letter-spacing: 3px;
    }
    .highlightsH3 {
        font-size: 1.3rem;
    }
}

/* || CAROUSEL PRODUCTS */

.embla.hl {
    position: relative;
    max-width: 85vw;
  }
  
.embla__container.hl {
    display: flex;
}

.embla__slide.hl {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
    margin: 0 20vw;
}

.cardContainer {
    display: grid;
    grid-template: auto / auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.carouselBtn.hl {
    background-color: #00000000;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.react-multi-carousel-list {
    height: 300px;
}

.prevBtn.hl {
    left: -80px;
}
  
.nextBtn.hl {
    right: -80px;
}

.carouselBtnImg {
    opacity: 0.5;
    transition: opacity 0.3s linear,
    transform 0.3s linear;
    filter: var(--filterBlack);
    cursor: pointer;
}
  
.carouselBtnImg:hover, .carouselBtn.hl:focus > .carouselBtnImg {
    opacity: 1;
    transform: translateX(-10px);
}

.carouselBtnImg02:hover, .carouselBtn.hl:focus > .carouselBtnImg02 {
    transform: translateX(+10px);
}

.dummyCard {
    background-color: white;
    border-radius: 24px;
    height: 430px;
    width: 260px;
}

@media screen and (max-width: 1200px) {
    .cardContainer {
        display: grid;
        grid-template: auto auto / auto auto;
        gap: 5vw;
        justify-content: center;
    }
    .prevBtn.hl {
        left: -60px;
    }
      
    .nextBtn.hl {
        right: -60px;
    }
}

@media screen and (max-width: 600px) {
    .carouselBtn.hl {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .cardContainer {
        grid-template: auto auto auto auto / auto;
        gap: 30px;
    }
}