/* || ARTICLE - PRODUCTCARD */

.productCard {
    background-color: var(--primaryColor);
    display: flex;
    flex-flow: column;
    height: 430px;
    border-radius: 24px;
    overflow: hidden;
}

.productLink {
    display: flex;
    flex-flow: column;
    height: 100%;
    color: var(--secondaryColor);
    box-shadow: 0 14px 28px #00000040,
    0 10px 10px #00000030;
    transition: 0.4s;
    border-radius: 24px;
}

.productLink:hover, .productLink:focus {
    transform: translateY(-8px);
    box-shadow: 0 3px 6px #00000025,
    0 3px 6px #00000030;
}

.productFigure {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.productImgContainer {
    max-width: 210px;
    max-height: 210px;
    margin: 0 25px;
}

.productImg {
    width: 100%;
    border-radius: 24px;
}

.productCaption {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.productName {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0 8px;
    text-align: center;
}

.productPrice {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.rating {
    position: relative;
}

.srOnly {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.addCartBtn {
    border: none;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
    max-height: 0px;
    transition: max-height 0.3s ease-out;
    text-align: center;
}

.addCartBtn::before {
    background-color: #5e8dbb;
}

@media screen and (max-width: 1100px) {
    .addCartBtn {
        max-height: 60px !important;
    }
}

@media screen and (max-width: 650px) {
    .productCard {
        height: min(430px, 78vw);
        max-height: 380px;
    }
    .productImgContainer {
        margin: 0;
    }
    .productImg {
        border-radius: 0;
    }
    .productFigure {
        justify-content: space-between;
    }
    .productCaption {
        height: 100%;
    }
}

@media screen and (max-width: 450px) {
    .productCard {
        max-height: 500px;
        height: 450px;
    }
    .productImgContainer {
        max-width: 250px;
        max-height: 250px;
    }
}


