:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primaryColor: #ffffff;
    --primaryColor2: #f3f6f2;
    --primaryColor3: #c5c5c5;
    --secondaryColor: #242424;
    --secondaryColor2: #242424;
    --secondaryColor3: #282828;
    --accentColor: #facc61;
    --complementalColor: #5e8dbb;
    --filterYellow: brightness(0) saturate(100%) invert(84%) sepia(15%)
        saturate(1627%) hue-rotate(343deg) brightness(102%) contrast(96%);
    --filterBlack: brightness(0) saturate(100%) invert(10%) sepia(2%)
        saturate(8%) hue-rotate(314deg) brightness(100%) contrast(90%);
    --standartShadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
    --contentSpace: min(15vh, 200px);
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* CSS-Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
#root {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* CSS-Reset End */

/* || SKELETT */

html {
    scroll-behavior: smooth;
}

body,
#root {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--secondaryColor3);
    /* Prevent highlighting on Touchscreens */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    overflow-x: clip;
}

a {
    color: var(--secondaryColor);
}

/* Prevent the auto color change of Inputs */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

/* || SKELETT - Button-Animation-Preset */

button,
.btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

button::before,
.btn::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform-origin: left;
    transform: translateX(-100%);
    transition: opacity 0.15s linear, transform 0.15s linear;
    z-index: -1;
    border-radius: 50px;
}

@media (hover: hover) {
    button:hover::before,
    button:focus::before,
    .btn:hover::before,
    .btn:focus::before {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (pointer: coarse) {
    button:active::before,
    button:focus::before,
    .btn:active::before,
    .btn:focus::before {
        opacity: 1;
    }
}

/* || SKELETT - Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--secondaryColor);
}

::-webkit-scrollbar-thumb {
    background: var(--accentColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor3);
}

body {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    position: relative;
    background-color: var(--primaryColor);
}

.overflowHidden {
    overflow: hidden;
}

*:focus {
    outline: none;
}

/* || MAIN */

main {
    max-width: 100%;
    position: relative;
}

/* PLACEHOLDER IMAGE */

.imgContainer {
    position: relative;
    overflow: hidden;
}

.placeholderImg {
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    filter: blur(5px);
    opacity: 0;
    object-fit: cover;
}

.placeholderImg.notLoaded {
    animation: pulsate 1.5s infinite;
}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* Necessary to be global */

.learnMoreLink::before {
    z-index: 1;
    content: "MEHR ERFAHREN";
}
