/* RedRose Variable Font */
@font-face {
    font-family: "RedRose";
    src: url("../assets/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; /* Variabler Bereich für Gewichte */
    font-style: normal;
    font-display: swap;
}

/* RobotoSlab Variable Font */
@font-face {
    font-family: "RobotoSlab";
    src: url("../assets/fonts/RobotoSlab-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900; /* Variabler Bereich für Gewichte */
    font-style: normal;
    font-display: swap;
}

/* Roboto Regular */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Roboto Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Roboto Bold Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Roboto Black */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Roboto Black Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Roboto Light */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Roboto Light Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Roboto Medium */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Roboto Medium Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Roboto Thin */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Roboto Thin Italic */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
