/* || SECTION - HEROBANNER */

.embla.hero {
    overflow: hidden;
    background-color: var(--secondaryColor);
    position: relative;
    top: -25px;
}

.embla__container.hero {
    display: flex;
}

.embla__slide.hero {
    flex: 0 0 100%;
    min-width: 0;
    max-height: 60vh;
    position: relative;
}

.banner {
    min-height: 60vh;
    position: relative;
}

.carouselImg {
    opacity: 0;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.carouselImg.loaded {
    animation: opacity 0.3s ease forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carouselImgPlaceholder {
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
    left: 0;
    filter: blur(5px);
    z-index: -1;
}

.bannerContentContainer {
    position: absolute;
    width: calc(100% - 14vw);
    padding: 0 7vw;
    max-width: 1200px;
    margin: auto;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 2;
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.bannerBtn {
    border: none;
    background-color: var(--accentColor);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    min-width: 220px;
    color: var(--secondaryColor);
}

.bannerBtn::before {
    background-color: var(--primaryColor);
    border-radius: 50px;
}

.bannerText {
    width: fit-content;
    padding: 20px;
    border-radius: 24px;
    max-width: 570px;
}

.bannerHeadline {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "RobotoSlab", "RedRose", sans-serif;
    word-spacing: 10px;
    margin-bottom: 15px;
}

.bannerP {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
}

.embla__dots.hero {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.embla__dot.hero {
    border: none;
    height: 8px;
    width: 10vw;
    border-radius: 20px;
    opacity: 0.5;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.embla__dot.hero.active {
    opacity: 1;
    background-color: var(--primaryColor);
}

.embla__dot.hero:hover {
    opacity: 1;
    background-color: var(--accentColor);
}

.carouselBtn.hero {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

.prevBtn.hero {
    left: 10px;
}

.nextBtn.hero {
    right: 10px;
}

@media (hover: hover) {
    .carouselBtn.hero:hover,
    .carouselBtn.hero:focus {
        opacity: 1;
        filter: var(--filterYellow);
        transform: translate(-10px, -50%);
    }
    
    .carouselBtn.hero.nextBtn:hover,
    .carouselBtn.hero.nextBtn:focus {
        transform: translate(10px, -50%);
    }
}

@media (pointer: coarse) {
    .carouselBtn.hero:active,
    .carouselBtn.hero:focus {
        opacity: 1;
        filter: var(--filterYellow);
        transform: translate(-10px, -50%);
    }
    
    .carouselBtn.hero.nextBtn:active,
    .carouselBtn.hero.nextBtn:focus {
        transform: translate(10px, -50%);
    }
}

@media screen and (max-width: 1000px) {
    .carouselBtn.hero {
        display: none;
    }
}

@media screen and (max-width: 700px), (max-height: 600px) {
    .carouselBtn.hero {
        display: none;
    }
    .bannerContentContainer {
        flex-flow: column;
        bottom: 73px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .bannerText {
        background-color: #00000080;
        min-width: 100%;
        padding: 20px 0;
        border-radius: 0;
        text-align: center;
    }
    .embla__slide.hero,
    .carouselImg,
    .carouselImgPlaceholder,
    .banner {
        /* 100svh screen-height - nav-height + top: 25px from Container - header-height */
        min-height: calc(100svh - 55px + 25px - clamp(85px, 26vw, 120px));
    }
    .embla.hero {
        border-radius: 0;
    }
    .bannerHeadline {
        margin: 0 7vw 15px;
    }
    .bannerP {
        margin: 0 7vw;
    }
    .bannerHeadline {
        font-size: 1.5rem;
    }
    .bannerP {
        font-size: 1rem;
    }
}

@media screen and (max-height: 540px) {
    .bannerText {
        display: none;
    }
    .bannerContentContainer {
        bottom: 40px;
    }
    .embla__dots.hero {
        bottom: 15px;
    }
    .embla__slide.hero,
    .carouselImg, .carouselImgPlaceholder {
        /* 100svh screen-height - nav-height + top: 25px from Container - header-height */
        max-height: calc(100svh - 55px + 25px - clamp(85px, 26vw, 120px));
    }
}
