/* || ARTICLE - PRODUCTCARD */

.productCard {
    background-color: var(--primaryColor);
    display: flex;
    flex-flow: column;
    height: 430px;
    border-radius: 24px;
    overflow: hidden;
}

.productLink {
    display: flex;
    flex-flow: column;
    height: 100%;
    color: var(--secondaryColor);
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000030;
    transition: 0.4s;
    border-radius: 24px;
}

.productLink:hover,
.productLink:focus {
    transform: translateY(-8px);
    box-shadow: 0 3px 6px #00000025, 0 3px 6px #00000030;
}

.productFigure {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    height: 100%;
}

.productImgContainer {
    max-width: 100%;
    max-height: 100%;
    margin: 0 25px;
    width: min(16vw, 210px);
    height: min(16vw, 210px);
    position: relative;
}

@media screen and (max-width: 1200px) {
    .productImgContainer {
        max-width: 210px;
        max-height: 210px;
        width: auto;
        height: auto;
    }
}

.placeholderProductImg {
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    filter: blur(5px);
    border-radius: 24px;
    opacity: 0;
}

.placeholderProductImg.notLoaded {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.productImg {
    width: 100%;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.productCaption {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    width: 100%;
    gap: 10px;
}

.productCaption > * {
    margin-inline: auto;
}

.productName {
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    max-width: 87%;
}

.productPrice {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.rating {
    position: relative;
}

.srOnly {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.addCartBtn {
    border: none;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
    max-height: 0px;
    transition: max-height 0.3s ease-out;
    text-align: center;
}

.addCartBtn::before {
    background-color: var(--complementalColor);
    border-radius: 0;
}

@media screen and (max-width: 1100px) {
    .addCartBtn {
        max-height: 60px !important;
    }
}

@media screen and (max-width: 620px) {
    .productCard {
        height: min(430px, 75vw);
    }
    .productImgContainer {
        margin: 0;
        min-width: 100%;
    }
    .productImg {
        border-radius: 0;
        height: 100%;
        object-fit: cover;
    }
    .productFigure {
        justify-content: space-between;
    }
    .productCaption {
        height: 100%;
    }
}

@media screen and (max-width: 450px) {
    .productCard {
        height: min(430px, 95vw);
    }
    /* .productImgContainer {
        max-width: 250px;
        max-height: 250px;
    } */
}
